body {
    color: white;
    background-color: purple;
}

#container {
    display: grid;
    gap: 10px;
}

/* Classes */

.rmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}